<MudPaper Class="p-4">
    
    <div style="display: flex; flex-direction: row">
        <MudButton OnClick="() => SelectedDate = DateTime.Today" Variant="MudBlazor.Variant.Text" Color="Color.Primary">
            Aujourd’hui
        </MudButton>

        <MudStack Row Spacing="1">
            <MudIconButton Icon="@Icons.Material.Filled.CalendarToday"
                           Color="Color.Primary"
                           OnClick="ToggleCalendarPopover"/>

            <MudPopover Open="@CalendarOpen"
                        AnchorOrigin="Origin.TopCenter"
                        TransformOrigin="Origin.BottomCenter"
                        CloseOnOutsideClick="true"
                        OnClose="()=> CalendarOpen = false">

                <MudPaper Class="p-4">
                    <MudDatePicker Date="@SelectedDate"
                                   DateChanged="OnDateSelected"
                                   PickerVariant="PickerVariant.Static"
                                   Elevation="0"/>
                </MudPaper>
            </MudPopover>
        </MudStack>

        <MudIconButton Icon="@Icons.Material.Filled.Add"
                       title="Ajouter un événement"
                       Class="rounded-full"
                       Style="background-color: var(--mud-palette-primary); color: white; width: 56px; height: 56px;"
                       OnClick="OpenAddDialog" />

        <div style="display: flex; 
                   flex-direction: row;
                   align-content: flex-end; 
                   align-items: center;">   
            <MudChip
                T="string"
                OnClick="@(() => IsWeekView = false)"
                Color="Color.Primary"
                Variant="@(!IsWeekView ? MudBlazor.Variant.Filled : MudBlazor.Variant.Outlined)"
                Class="rounded-pill"
                DisableRipple="true">
                Journée
            </MudChip>

            <MudChip
                T="string"
                OnClick="@(() => IsWeekView = true)"
                Color="Color.Primary"
                Variant="@(IsWeekView ? MudBlazor.Variant.Filled : MudBlazor.Variant.Outlined)"
                Class="rounded-pill"
                DisableRipple="true">
                Semaine
            </MudChip>
        </div>

    </div>
    



    <MudStack>


        <MudStack 
            Row
            Spacing="1"
            Style="display: flex; 
                   justify-content: center; 
                   align-items: center; 
                   margin-top: 1rem;">
            <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft"
                           OnClick="GoToPrevious"
                           Color="Color.Default"/>

            <MudText Typo="Typo.h6">
                @GetDisplayDate()
            </MudText>

            <MudIconButton Icon="@Icons.Material.Filled.ChevronRight"
                           OnClick="GoToNext"
                           Color="Color.Default"/>
        </MudStack>
        
        
    </MudStack>




    <MudDivider Class="my-4"/>

    @if (IsWeekView)
    {
        <WeeklyView Events="Events" SelectedDate="SelectedDate"/>
    }
    else
    {
        <DayView Events="Events" SelectedDate="SelectedDate"/>
    }
</MudPaper>
    