@using MaClasse.Shared.Models.Scheduler
@using Variant = MudBlazor.Variant


<div style="padding: 0.5rem;
            margin-right: 0.3rem;
            border: #1E88E5 solid 1px;
            border-radius: 0.8rem;">
    <div style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-radius: 0.8rem;
        width: @schedulerWidth;
        height: 7rem">
        
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly">
            <MudButton
                StartIcon="@Icons.Material.Filled.Autorenew"
                Variant="Variant.Filled"
                Color="Color.Secondary"
                OnClick="@GoToToday"
            >Aujourd'hui
            </MudButton>
            
            <div style="margin-left: 2rem">
                <MudButtonGroup Color="Color.Secondary" Variant="Variant.Outlined">

                    <MudIconButton
                        Icon="@Icons.Material.Filled.CalendarViewDay"
                        Icon="@Icons.Material.Filled.CalendarViewDay"
                        OnClick="@(() => SetSchedulerView(0))">
                    </MudIconButton>

                    <MudIconButton
                        Icon="@Icons.Material.Filled.CalendarViewWeek"
                        OnClick="@(() => SetSchedulerView(1))">
                    </MudIconButton>

                </MudButtonGroup>
            </div>
            
            
            @* <MudButton Variant="Variant.Text" *@
            @*            Color="Color.Secondary" *@
            @*            OnClick="@(() => SetSchedulerView(0))"> *@
            @*     Jour *@
            @* </MudButton> *@
            @* *@
            @* <MudButton Variant="Variant.Text" *@
            @*            Color="Color.Secondary" *@
            @*            OnClick="@(() => SetSchedulerView(1))"> *@
            @*     Semaine *@
            @* </MudButton> *@
        </div>

        <div style="display: flex; flex-direction: row; align-items: center;">
            <MudIconButton Icon="@Icons.Material.Filled.CalendarToday"
                           Color="Color.Primary"
                           OnClick="@(() => datePickerOpen = true)"/>

            <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" OnClick="@GoToPrevious"/>

            <MudText Typo="Typo.h6">@DisplayedDateLabel</MudText>

            <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="@GoToNext"/>

            <MudIconButton Icon="@Icons.Material.Filled.Add"
                           Color="Color.Primary"
                           OnClick="() => OpenNewAppointment()"
                           Style="margin-left: 0.5rem;"/>
        </div>
    </div>

    @if (datePickerOpen)
    {
        <div style="
            width: 20rem;  
            position: absolute;
            top: 6.25rem;
            z-index: 1000;
            background: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            padding: 1rem;">
            <MudPaper>
                <MudDatePicker
                    PickerMonth="_currentMonth"
                    Label="Sélectionner une date"
                    Date="@currentDate"
                    PickerVariant="PickerVariant.Static"
                    DateChanged="OnDatePicked" />
                <MudButton Variant="Variant.Text" OnClick="@(() => datePickerOpen = false)">Fermer</MudButton>
            </MudPaper>
        </div>
    }

    @if (showAppointmentPanel)
    {
        <div style="
        width: 20rem;
        position: absolute;
        top: 6.25rem;
        z-index: 1000;
        background: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 1rem;">
            <AddAppointmentPage
                Model="@selectedAppointment"
                Start="@selectedStart"
                End="@selectedEnd"
                OnSave="OnAppointmentSaved"
                OnCancel="ClosePanel"
                IsEditMode="@isEditMode"
                OnDelete="OnAppointmentDeleted"/>
        </div>
    }


    <div style="@($"width: {schedulerWidth};")">
        <RadzenScheduler @ref="@scheduler"
                         @bind-Date="currentDate"
                         SelectedIndex="@selectedViewIndex"
                         SlotRender=@OnSlotRender
                         style="@($"height: 49rem; width: {schedulerWidth};")"
                         TItem="Appointment"
                         Data=@appointments
                         StartProperty="Start"
                         EndProperty="End"
                         ShowHeader="false"
                         TextProperty="Text"
                         SlotSelect=@OnSlotSelect
                         AppointmentSelect=@OnAppointmentSelect
                         AppointmentRender=@OnAppointmentRender
                         DaySelect="@OnDaySelect"
                         AppointmentMove=@OnAppointmentMove>
            <RadzenDayView StartTime="@startTime" EndTime="@endTime" TimeFormat="HH:mm" />
            <RadzenWeekView StartTime="@startTime" EndTime="@endTime" TimeFormat="HH:mm"/>
        </RadzenScheduler>
    </div> 
</div>
