@using System.Globalization

<div style="max-height: calc(100vh - 250px); overflow-y: auto;">
    <table class="mud-table w-full">
        <thead style="position: sticky; top: 0; z-index: 2; background-color: white;">
        <tr style="height: 5rem;">
            <th style="min-width: 5rem;"></th>
            @foreach (var day in WeekDays)
            {
                <th class="px-4 text-center align-middle"
                    style="
                           padding: 0 !important;
                           width: 7rem;">
                    <div style="display: flex; 
                                flex-direction: column; 
                                align-items: center;">
                        <div>@day.ToString("dddd", new CultureInfo("fr-FR"))</div>
                        <div>@day.ToString("dd", new CultureInfo("fr-FR"))</div>
                        <div>@day.ToString("MMMM", new CultureInfo("fr-FR"))</div>
                    </div>
                </th>
            }
        </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="@((WeekDays.Count() + 1))" style="height: 0.75rem;"></td>
            </tr>

            @foreach (var hour in Hours)
            {
                <tr style="height: 5rem;">
                    <td style="
                            min-width: 5rem;
                            vertical-align: top;">
                        <p style="margin-top: -0.6rem">@hour:00</p>
                    </td>

                    @foreach (var day in WeekDays)
                    {
                        <td class="px-2"
                            style="
                                vertical-align: top; 
                                border-top: 1px solid #e0e0e0;">
                            <div style="margin-top: 0.25rem;">
                                @foreach (var ev in Events.Where(e =>
                                              e.Start?.Date == day.Date &&
                                              e.Start?.Hour == hour))
                                {
                                    <MudPaper Class="p-2 mb-1 bg-primary text-white rounded"
                                              Style="min-width: 10rem; min-height: 3rem;">
                                        <b>@ev.Title</b><br/>
                                        @ev.Start?.ToString("HH:mm") - @ev.End?.ToString("HH:mm")<br/>
                                        <small>@ev.Location</small>
                                    </MudPaper>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
