@page "/dashboard"
@using System.Security.Claims
@using MaClasse.Client.Components.Auth
@using MaClasse.Client.Services
@using MaClasse.Client.States
@using MaClasse.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using MaClasse.Client.Components.Menu
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<TopMenu Picture="@userInformation!.Picture" Email="@userInformation.Email"/>

<h3>Dashboard</h3>
<div>
    <div>
        <p>✅ Vous êtes connecté et avez accès à cette page sécurisée.</p>
        <p><strong>IdSession :</strong> @userInformation!.Id</p>
        <p><strong>Id :</strong> @userInformation!.Id</p>
        <p><strong>Email :</strong> @userInformation.Email</p>
        <p><strong>Name :</strong> @userInformation.Name</p>
        <p><strong>Role :</strong> @userInformation.Role</p>
        <p><strong>Zone : </strong> @userInformation.Zone</p>
        <p><strong>GivenName :</strong> @userInformation.GivenName</p>
        <p><strong>FamilyName :</strong> @userInformation.FamilyName</p>
        <p><strong>Picture :</strong> @userInformation.Picture</p>
        <p><strong>CreatedAt :</strong> @userInformation.CreatedAt</p>
        <p><strong>UpdatedAt :</strong> @userInformation.UpdatedAt</p>
    </div>
</div>


@code {
    private readonly UserState _userState;
    private readonly ServiceLogout _serviceLogout;

    public Dashboard(
        UserState userState,
        ServiceLogout serviceLogout)
    {
        _userState = userState;
        _serviceLogout = serviceLogout;
    }

    private UserState? userInformation;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        

        if (user.Identity is { IsAuthenticated: true })
        {
            //* Récupére les infos dans le UserState
            userInformation = _userState.GetUser();
        }
        
        //! Gestion de l'erreur retour à la page de login
    }
}